@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100..1000;1,100..1000&display=swap');
html{
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  overflow: hidden;

}
body {
  height: 100vh;
  background-color: #11111b;
}
 h1 {
  text-align: center;
  color: white;
  font-size: 3.7rem;
  letter-spacing: 7px;
  margin: 20px 0 2% 0;
  font-family: "Dela Gothic One", cursive;
}

.container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
  gap: 1px;
  width: 550px;
  height: 550px;
  font-size: 174px;
  /* background-color: white; */
  text-align: center;
  vertical-align: center;
  margin: 30px;
  gap:5px;
}

.cell {
  background-color: #313244;
  color: white;
  cursor: pointer;
  width: 205px;
  height:212px;
}
/*  Remove borders first cell each row*/ 
.cell:nth-child(3n + 1) {
  border-left: none;
}

/* Remove borders last cell each row */
.cell:nth-child(3n) {
  border-right: none;
}

/* Remove top borders for the first row */
.cell:nth-child(-n+3) {
  border-top: none;
}

/* Remove bottom borders for the last row */
.cell:nth-last-child(-n+3) {
  border-bottom: none;
}
.winning {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#restart-btn {
  padding: 10px;
  font-size: 2rem;
  text-align: center;
  display: block;
}
.winning-message {
  font-size: 2.5rem;
  color: #d4d4d4;
  font-family: "Dela Gothic One", cursive;
  margin:0 0 25px 0; 
}
footer img {
  max-height: 2rem;
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  width: 100%;
  color: rgb(185, 185, 185);
  background-color: black;
  padding:20px 0;
  gap:15px;
}

footer p {
  font-family: "DM Sans", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 3px;
}

footer p a {
text-decoration: none;
color: inherit;
color:rgb(241, 241, 241)
}
footer p a:hover{
  color:rgba(255, 255, 255, 0.3)
}
footer p a:active{
  color:gray
}